   <!-- Card -->
<%= link_to blog_post, class:"group block rounded-xl dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" do%>
  <div class="aspect-w-16 aspect-h-9">
    <img class="w-full object-cover rounded-xl" src="https://images.unsplash.com/photo-1668584054035-f5ba7d426401?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3465&q=80" alt="Image Description">
  </div>
  <h3 class="mt-2 text-lg font-medium text-gray-800 group-hover:text-blue-600 dark:text-gray-300 dark:group-hover:text-white">
    <%= blog_post.title %>
  </h3>
  <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
    <%= blog_post.published_at.strftime('%b %e') %>
  </p>
<% end %>
<!-- End Card -->
