.wrapper {
  width: 100%;
  height: 100svh;

  padding-block: var(--nav-height);


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include media(tabletAndUp) {
    // max-width: 60rem;

    padding-block: var(--nav-height) calc(var(--nav-height) + var(--space-xxl));
  }
}