  <div class="home">
    <hgroup class="hgroup" >
      <h1 class="hgroup__header">Hey, I'm <span class="hgroup__name" id="name">Anel</span>!</h1>
      <p class="hgroup__subtitle">RAILS &middot; API's &middot; GROWTH</p>
    </hgroup>
    <p class="main">
      As a software engineer, I specialize in crafting robust and scalable
      web applications that support dynamic and growing business in
      achieving their ambitious goals.
    </p>
    <div class="cta">
      <a href="mailto:contact@anelcanto.com" class="btn btn--primary cta-btn--top">CONTACT ME</a>
      <a href="mailto:contact@anelcanto.com?subject=Job%20Proposition" class="btn btn--dark cta-btn--bottom">HIRE ME</a>
    </div>
  </div>