<%= turbo_frame_tag "home" do%>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <div class="overflow-hidden">
      <!-- Hero -->
      <%= render  "hero" %>
      <%= turbo_frame_tag "contact_frame" do%>
        <%# render 'contact' %>
      <% end %>
      <% set_published_posts %>
      <%= render  "blog_posts/section_index", blog_posts: @blog_posts %>
    </div>
  </main>
  <!-- ========== END MAIN CONTENT ========== -->
<% end %>
