<%= turbo_frame_tag "home" do%>
  <!-- ========== MAIN CONTENT ========== -->
  <main id="content" role="main">
    <div class="overflow-hidden">
      <!-- Hero -->
      <%= render  "hero" %>
      <!-- End Hero -->
      <!-- ========== END MAIN CONTENT ========== -->
      <%= render  "contact" %>
    </div>
  </main>
<% end %>