@font-face {
  font-family: 'Kollektif';
  src: url('./fonts/Kollektif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gidole';
  src: url('./fonts/Gidole-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./fonts/Kollektif-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {
  --btn-font-size: 4vw;

  --top-bar-color: #282120;
  --top-bar-height: 60.98px;

  --background-color: #FFFFFF;

  --wrapper-width: 278px;
  --wrapper-height: 493.854px;

  --header-font-size: 42.616px;
  // --subtitle-font-size: 24.632px;
  --subtitle-font-size: 23px;

  --header-color: #DA0015;
  --header-name-color: var(--top-bar-color);

  --subtitle-color: var(--header-name-color);

  --main-p-font-size: 24.133px;
  --main-p-font-weight: 400;
  --main-p-height: 175.515px;


  --font-family-primary: 'Kollektif', sans-serif;
  --font-family-secondary: 'Gidole', sans-serif;

  --button-group-height: 124.725px;

  --footer-height: 144px;

  --socials-background-color: #D12E2C;
  --socials-height: 62px;

  --nav-bagkround-color: var(--top-bar-color);
  --nav-height: 74px;

  //nav text
  --nav-text-color: #FEFEFD;
  --nav-font-family: Kollektif;
  --nav-font-size: 1.5rem;
  --nav-font-weight: 700;

  //copied from another project

  // Classical and robust spacing system
  --space-xxxs: 0.25rem; // 4px
  --space-xxs: 0.375rem; // 6px
  --space-xs: 0.5rem; // 8px
  --space-s: 0.75rem; // 12px
  --space-m: 1rem; // 16px
  --space-l: 1.5rem; // 24px
  --space-xl: 2rem; // 32px
  --space-xxl: 2.5rem; // 40px
  --space-xxxl: 3rem; // 48px
  --space-xxxxl: 4rem; // 64px

  // Application colors
  --color-primary: hsla(1, 65%, 50%, 1);
  --color-primary-rotate: hsl(10, 73%, 54%);
  --color-primary-bg: hsl(0, 85%, 96%);
  --color-secondary: hsl(101, 45%, 56%);
  --color-secondary-rotate: hsl(120, 45%, 56%);
  --color-tertiary: hsl(49, 89%, 64%);
  --color-glint: hsl(210, 100%, 82%);

  // Neutral colors
  --color-white: hsl(0, 0%, 100%);
  --color-background: hsl(30, 50%, 98%);
  --color-light: hsl(0, 6%, 93%);
  --color-dark: var(--top-bar-color);

  // Border radius
  --border-radius: var(--Number, 0px);



  // Border
  --border: solid 2px var(--color-light);

  // Shadows
  --shadow-large: 2px 4px 10px hsl(0 0% 0% / 0.1);
  --shadow-medium: 0px 1px 25px var(--color-dark);
  --shadow-small: 1px 3px 6px hsl(0 0% 0% / 0.1);

  --padding-inline-big: 15vw;

  --navbar-padding-inline: 5.5vw;
  --margin-top: 10%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // align-items: center;
}

.transition {
  transition: ease all .5s;
}

.banner {
  width: 100%;
  height: 7vh;
  background-color: var(--top-bar-color);
  box-shadow: var(--shadow-medium);
  min-width: 100%;

  &--bottom {
    display: none;
  }
}

.nav {
  order: 1;
  background-color: var(--nav-bagkround-color);
  flex-basis: 7vh;
  width: 100%;

  display: flex;
  justify-content: space-evenly;

  ul {
    list-style: none;
    display: flex;
    min-width: 100%;
    justify-content: space-evenly;
    align-items: center;

    &>li {
      padding: .5em .5em;
      color: var(--nav-text-color);
      font-family: var(--font-family-primary);
      font-size: var(--nav-font-size);
      font-weight: var(--nav-font-weight);

      &>a {
        text-decoration: none;
        color: var(--nav-text-color);
      }
    }
  }
}


.wrapper {
  transform: scale(clamp(.3, .9, 1));
  border: #282120;
  order: 2;
  flex-grow: 1;
  margin: auto;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0 1.5vh;


  .hgroup {
    display: flex;
    flex-flow: column wrap;
    text-align: center;
    justify-content: center;

    &__header {
      font-family: var(--font-family-primary);
      font-size: 2.5rem;
      color: var(--header-color);

      #name {
        color: var(--header-name-color);
      }
    }

    &__subtitle {
      font-family: var(--font-family-primary);
      text-justify: inter-word;
      font-size: 1.5rem;
    }
  }

  .main {
    align-content: center;
    font-family: var(--font-family-secondary);
    font-size: 1.6rem;
    padding: 0 .5em;
  }

  .cta {
    padding-inline: .75em;
    max-width: 75vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    &-btn--bottom {
      margin-top: 5%;
    }
  }
}

footer {
  width: 100%;
  order: 4;
  margin-top: auto;

  .socials {
    padding: .5em 0;
    background-color: var(--socials-background-color);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

.btn {
  display: inline-block;
  padding: .7em 1em;
  border-radius: 16px;
  font-family: var(--font-family-primary);
  font-size: 1.5rem;
  background-origin: border-box; // Invisible borders with linear gradients
  background-color: transparent;
  border: solid .1rem transparent;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  outline: none;
  transition: filter 400ms, color 200ms;

  &:hover,
  &:focus,
  &:focus-within,
  &:active {
    transition: filter 250ms, color 200ms;
  }

  &--primary {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.4) brightness(115%);
    }
  }

  &--secondary {
    color: var(--color-white);
    background-image: linear-gradient(to right, var(--color-secondary), var(--color-secondary-rotate));

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
      filter: saturate(1.2) brightness(110%);
    }
  }

  &--light {
    color: var(--color-dark);
    background-color: var(--color-light);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-dark);
      filter: brightness(92%);
    }
  }

  &--dark {
    color: var(--color-white);
    border-color: var(--color-dark);
    background-color: var(--color-dark);

    &:hover,
    &:focus,
    &:focus-within,
    &:active {
      color: var(--color-white);
    }
  }
}



@media (max-width: 780px) {

  .wrapper {
    width: 300px;
    max-width: 300px;
  }
}

@media (min-height: 728px) and (max-width: 780px) {
  .wrapper {
    justify-content: center;
    row-gap: 90px;
  }


}


@media (min-width: 780px) and (hover: hover) {
  :root {
    --padding-inline-big: 10vw;

  }


  .banner {

    &--bottom {
      color: var(--nav-text-color);

      display: flex;
      justify-content: center;
      align-items: center;
      font-size: large;
      font-family: var(--font-family-secondary);
    }
  }


  .nav {
    order: 1;



    ul {
      padding-inline-start: 10.1vw;

      justify-content: start;
      gap: 12em
    }

  }

  .wrapper {

    order: 2;
    align-content: center;

    display: grid;
    grid-template-columns: 40vw 40vw;
    grid-template-rows: min-content min-content;
    grid-template-areas:
      "hgroup main"
      "cta main";
    gap: 1vh 2.5vw;



    .hgroup {
      grid-area: hgroup;
      flex-wrap: wrap;
      flex-direction: column;
      min-width: max-content;

      display: flex;

      &__header {
        font-size: clamp(1vw, 6vw, 7vw);
      }

      &__subtitle {
        font-size: 2.9vw;
        font-size: clamp(1vw, 3.5vw, 5vw);
      }
    }

    .main {
      margin: 0;
      align-self: initial;
      grid-area: main;
      padding: 0;

      text-align: justify;
      font-family: var(--font-family-secondary);
      font-size: 2.8vw;
      line-height: 1.2em;
      display: flex;
      align-items: center;
    }

    .cta {
      grid-area: cta;

      flex-direction: row;
      max-height: min-content;
      justify-content: space-evenly;
      align-items: center;

      &-btn--bottom {
        margin: 0;
      }

      &>* {
        max-height: min-content;
        font-size: 2svw;
      }

    }
  }

  footer {
    order: 3;

    .socials {
      justify-content: space-between;
      padding-inline: 17vw;
    }
  }



}
