  <nav class="nav">
    <ul >
      <li id="home-link"><%= link_to "home", root_path %></li>
      <li id="projects-link"><a href="https://www.github.com/anelcanto">projects</a></li>
      <li id="blog-link"><%= link_to "blog", blog_posts_path %></li>
    </ul>
  </nav>